.app-body {
  margin-top: 50px;
}

.nav-bar-container {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.nav-bar {
  background-color: white;;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-family: $sans-serif-header;
  align-items: center;
  color: $grey;
  font-size: 11px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0px auto;
}

.pf-pic {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  height: 35px;
  width: 35px;
  padding: 0px 12px;
}

.logo:hover {
  opacity: 0.6;
}

.header {

}

.nav-bar-session-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-session-links * {
  margin: 0px 10px;
  padding: 3px 0px;
}

.nav-bar-session-links *:hover:not(.pfpic) {
  opacity: 0.6;
  border-bottom: 1px solid #adadad;
}


.auth-form {

  width: 100%;
  color: $grey;
  justify-content: center;
  font-family: $sans-serif-header;
}

// .authInput {
//   outline-style: dotted;
//   outline-color: #00ff00;
// }



.sessions-button {
  margin: 10px 0px;
  width: 100%;
  height: 37px;
  // -webkit-border-radius: 3;
  // -moz-border-radius: 3;
  border-radius: 3px;
  font-family: $sans-serif-header;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  // padding: 1px;;
  background: #fc3c56;
  text-decoration: none;
  text-align: center;
}

.change-forms-button {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 3px;
  font-family: $sans-serif-header;
  font-weight: bold;
  color: #1b6375;
  font-size: 12px;
  background: #ffffff;
  padding: 5px 15px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.change-forms-button:hover {
  background: #e8f6ff;
  text-decoration: none;
}


.sessions-button:hover {
  background: #d6172b;
  text-decoration: none;
}

.pf-pic:hover {

}

.auth-input-box {
  width: 100%;
  margin: 10px 0px;
  padding: 10px 10px;;
  box-sizing: border-box;
  border: 1px solid #a5a4a4;
  color: #919191;
  font-family: $sans-serif-header;
}

input::-webkit-input-placeholder {
color: #a5a4a4 !important;
}

.account-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.email-promos-button {
  margin: 0px 5px;
}

.email-promos-text {
  font-size: 12px;
}

//for removing search pins and google logo
.pac-icon {
  width: 0;
  background-image: none;
}

.pac-container:after {
  background-image: none !important;
    height: 0px;
}

#txtPlaces {
  width: 200px;
  border: 1px solid #e8e8e8;
  padding: 2px;
}

.search-form {
  margin-bottom: 12px
}

.search-form * {
  margin: 0px 5px;
}
