.home-transparent {
  background: transparent;
  min-height: 700px;
  z-index: -1;
  color: white;
}

.home-description {
  height: auto;
  background-image: url('http://wallpapercave.com/wp/3jQbonO.jpg');
  width: 100%;
}

.definition-container {
  width: 570px;
  margin: 0 auto;
  padding-top: 120px;
  position: relative;
  left: 22vw;
  top: 46vh;
}

.boujee {
  font-size: 85px;
  font-family: 'Judson', serif;
}

.pronunciation {
  font-size: 28px;
  width: auto;
}

.definition {
  font: $sans-serif-header;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.adjective {
  font-size: 32px;
  font-family: 'Dancing Script', cursive;
}

.def-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal-x {
  font-family: 'Fredoka One', cursive;
  color: #b5b5b5;
  float:right
}
