.home-transparent {
  background: transparent;
  min-height: 700px;
  z-index: -1;
  color: white;
}

.home-description {
  height: auto;
  background-image: url('http://wallpapercave.com/wp/3jQbonO.jpg');
  width: 100%;
}

.definition-container {
  width: 48vw;
  margin: 0 auto;
  // padding-top: 120px;
  position: relative;
  left: 22vw;
  top: 65vh;
}

.boujee {
  font-size: 7vw;
  font-family: 'Judson', serif;
}

.pronunciation {
  font-size: 3vw;
  width: auto;
}

.definition {
  font: $sans-serif-header;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.adjective {
  font-size: 3vw;
  font-family: 'Dancing Script', cursive;
}

.def-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal-x {
  font-family: 'Fredoka One', cursive;
  color: #b5b5b5;
  float:right
}

.home-slider {
  width: 50vw;
  background-color: blue;
  margin: 0 auto;
}

.simple-listing-pic {
  width: 45vw;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
