.footer-links {
  font-family: $sans-serif-header;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e8e8e8;
  background-color: white;
}

.footer-links-column {
  flex-direction: column;
  margin: 50px;
}

.footer-links-column * {
  font-size: 11px;
  display: block;
  margin-top: 5px;
}

.footer-column-category {
  font-weight: bold;
  font-size: 13px;
  margin: 12px 0px;;
}
