.footer-links {
  font-family: $sans-serif-header;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e8e8e8;
  background-color: white;
  padding-bottom: 10px;
  // width: 70vw;
}

.footer-links-column {
  flex-direction: column;
  margin: 5 10 10 10;
}

.footer-links-column * {
  font-size: 11px;
  display: block;
  margin-top: 3px;
}

.footer-column-category {
  font-weight: bold;
  font-size: 13px;
  margin: 12px 0px;
}

.fake-link:hover {
  cursor: pointer;
}

.music-player {
  opacity: 0;
  width: 100px;
  position: relative;
  left: 100px;
}

.bio {
  font-size: 16px;
}

.bio-link {
  font-size: 20px;
  color: blue;
}

.bio-link:hover {
  opacity: 0.6;
}
