.detail-item {
  font-family: $sans-serif-header;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: white;
  padding: 0 auto;
}

.detail-title {
  font-family: $booking-city;
  font-size: 26px;
  font-weight: bold;
  margin-right: 30px;
}

.detail-description {
  margin: 5px 0px;
}


.detail-city-state, .detail-max-guests {
  font-size: 17px;
}

.detail-item-info {
  width: 70%;
  height: 30%;
  margin: 20px;
}

.detail-image-container {
  opacity: 0.0;
  z-index: -10;
  // for showing some details in main page
  max-height: 79vh;
}

.detail-image {
  width: 100%;
  object-fit: fill;
}

.default-listing-details {
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
}

.detail-info-2-col {
  display: flex;
}

.detail-category {
  font-weight: bolder;
  font-size: 15px;
  width: 13vw;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  font-size: 13px;

  li {
    margin-bottom: 10px;
  }
}
