.listings-index {
  width: auto;
  display: flex;
}

.listings-index-items {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-description {
  width: 300px;
}

.listing-index-item {
  font-family: $sans-serif-header;
  margin: 30px 12px;

}

.listing-index-item:hover {
  opacity: 0.6;
}


.index-image {
  width: 300px;
  height: 200px;
  object-fit: fill;

}

.index-title {
  width: 300px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.index-city {
  font-size: 12px;
}

.maps-search {
  width: 30%;
  background-color: black;
}

.default-listing-details {
  
}
