.listings-index {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.listing-index-item {
  font-family: $sans-serif-header;
  margin: 30px 12px;
}

.index-image {
  width: 360px;
  height: 230px;
  object-fit: fill;

}

.index-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
}

.index-city {
  font-size: 12px;
}

//object fit cover display block
