.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pfpic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.navbar link {
  margin: 10px 10px;
}

.navBarElement {
}

.logo {
  height: 50px;
}

.header {
  // background-color: $mygreen;
  //not working
}
