.review-form {
  border: solid 1px #e5e5e5;
  width: 100%;
  margin: 30px 0px;
  padding: 20px;
}

.review-form-title {

}

.review {
  margin-bottom: 20px;
  background-color: #fcfcfc;
  padding: 30px;
  border-radius: 20px;
}

.review-pf-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-index-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.form-circle {
  color: green;
}

.review-text {
  width: 83%;
  border: 1px solid #e5e5e5;
  margin-right: 5px;
  height: 100px;
}

.comment-submit-row {
  width: 100%;
}

.comment-submit {
  width: 15%;
  text-align: center;
  background-color: #151d6b;
  color: white;
  padding: 5px 0px;
  border-radius: 20px;
}

.review-top * {
  margin-bottom: 5px;
}

.detail-remove {
  margin-top: 10px;
  background-color: red;
  font-size: 11px;
  border-radius: 12px;
  padding: 4px;
  color: white;
}

.review-rating {
  font-size: 13px;
  margin-top: 10px;
}

.log-in-to-review {
  color: #ff0f0f;
}
