.bookings {
  margin-top: 70px;
  margin-bottom: 20px;
}

.booking-index-item {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  height: 175px;
  width: 700px;
  border: 1px solid $grey;
  margin-bottom: 10px;
  overflow: hidden;
  font-family: $sans-serif-header;
  background-color: #fcfcfc;
}

.booking-text {
  margin: 7px 15px 15px 15px;

}

.booking-city {
  font-family: $booking-city;
  font-size: 30px;
  margin: 10px 0px 10px 0px;
}

.cancel-button {
  font-size: 11px;
  margin-left: 300px;
}

.booking-image-container {
  margin-right: 10px;
  overflow:hidden;
  width:275px;
  height: 100%;
}

.booking-image-container:hover .booking-index-pic {
  -webkit-transform:scale(1);
  transform:scale(1);
}

.booking-index-pic {
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
