.bookings {
  margin-top: 70px;
  margin-bottom: 20px;
}

.booking-index-item {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  height: 175px;
  width: 700px;
  border: 1px solid $grey;
  margin-bottom: 10px;
  overflow: hidden;
  font-family: $sans-serif-header;
  background-color: #fcfcfc;
}

.confirmation {
  // width: 100%;
  // margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: $sans-serif-header;
}

.confirmation-yes {
  border-radius: 1px;
  font-size: 16px;
  width: 200px;
  padding: 7px 0;
  // height: 20px;
  color: white;
  font-family: $sans-serif-header;
  background-color: red;
  text-align: center;
  margin-right: 20px;
}

.confirmation-no {
  border-radius: 1px;
  font-size: 16px;
  width: 200px;
  // height: 20px;
  padding: 7px 0;
  color: white;
  font-family: $sans-serif-header;
  background-color: blue;
  text-align: center;
}

.buttons-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}

.booking-text {
  margin: 7px 15px 15px 15px;

}

.booking-city {
  font-family: $booking-city;
  font-size: 30px;
  margin: 10px 0px 10px 0px;
}

.cancel-button {
  font-size: 11px;
  margin-left: 300px;
  color: red;
}

.booking-image-container {
  margin-right: 10px;
  overflow:hidden;
  width:275px;
  height: 100%;
}

.booking-image-container:hover .booking-index-pic {
  -webkit-transform:scale(1);
  transform:scale(1);
}

.booking-index-pic {
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
